@page
@model BookShop.Web.Areas.User.Pages.Orders.IndexModel
@{
}

<h1>My Orders</h1>
<hr />

<table class="table table-bordered">
    @foreach (var item in Model.OrderList)
    {
        <tr>
            <td>@item.Book.Name</td>
            <td>@item.Amount</td>
            <td>@item.TimeCreated.ToShortDateString()</td>
            <td>
                <a asp-controller="file" asp-action="download" asp-route-bookid="@item.BookId" class="btn btn-primary">Download</a>
            </td>
        </tr>
    }

</table>