<div class="list-group" style="border-radius:0">
    <a asp-area="User" asp-page="./index" class="list-group-item"><strong>Dashboard</strong></a>
    <a asp-area="User" asp-page="/orders/index" class="list-group-item"><strong>Orders</strong></a>
</div>