@page
@model BookShop.Web.Areas.Admin.Pages.Users.IndexModel
@{
}

<h1>Users</h1>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <td>User Name:</td>
            <td>Full Name:</td>
        </tr>
    </thead>

</table>