@page
@model BookShop.Web.Pages.Shop.ReceiptModel
@{
    ViewData["Title"] = "Receipt";
}

<h2>@ViewData["Title"]</h2>
<hr />

<p>Thanks for shoping with us</p>

<table>
    <tbody>
        <tr>
            <td>Order Id</td>
            <td></td>
        </tr>
        <tr>
            <td>Book</td>
            <td></td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
        </tr>
    </tbody>
</table>